.entrance{
    text-align: center;
    margin-top:150px;
}
.introduce{
    margin-bottom:40px;
}
.entrance-btn{
    padding:15px 40px;
    text-decoration: none;
    color:white;
    background-color: #5dca88;
    box-shadow:0px 7px #1a7940;
}

.entrance-btn:active{
    box-shadow:none;
    position:relative;
    top:7px;
}